* h1, * h2, * h3, * h4, * h5, * h6 { font-family: 'Hanna', 'Malgun Gothic'; }

body {
	font-family: 'Source Sans Pro Regular', 'Helvetica Neue', helvetica, arial, sans-serif;
	font-size: 12px;
}

pre {
	font-size: 1.5rem;
	padding: 2.5em;
	border: none;
	border-radius: 0.8em;
}
	pre * {
		font-family: 'Nanum Gothic Coding';
		font-weight: bold;
	}

.navbar-fixed-top {
	z-index: 50;
}

.navbar-brand {
	font-family: 'Hanna';
}


.title-section {
	padding: 280px 0 290px 0;
	background: #2095D1;
	background-image: -webkit-linear-gradient(45deg, #2095D1, #FF8AD6);
	background-image: -moz-linear-gradient(45deg, #2095D1, #FF8AD6);
	background-image: -ms-linear-gradient(45deg, #2095D1, #FF8AD6);
	background-image: -o-linear-gradient(45deg, #2095D1, #FF8AD6);
	background: linear-gradient(45deg, #2095D1, #FF8AD6);
}
	/* 작은 화면 */
	@media screen and ( max-width: 768px ){
		.title-section {
			padding: 160px 0 100px 0;
		}
	}

	.title-section h1 {
		font-size: 100px;
		color: #FFF;
	}

	/* 작은 화면 */
	@media screen and ( max-width: 768px ){
		.title-section h1 {
			font-size: 50px;
		}
	}

	.title-section p {
		font-size: 20px;
		color: #EEE;
	}


	.title-section a .btn.btn-transparent {
		color: #FFF;
		margin-top: 50px;
		background-color: transparent;
		border: 2px solid white;
		transition: all .3s ease 0s;
	}
		.title-section a .btn.btn-transparent:hover {
			color: #454545;
			border: 2px solid #454545;
		}



.content-section {
	padding: 70px 20px;
	font-size: 1.3em;
}

.content-section pre code, .content-section pre code span, .content-section pre code span a {
	font-size: 14px;
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
}





.pane-head {
	min-height: 20px;
	padding: 20px;
}

.pane-body {
	position: relative;
	padding: 0 80px;
}
